.cabeçalho_menu-hamburguer{
    width: 24px;/*Largura do ícone*/

    height: 24px;/*Altura do ícone*/

    display: inline-block;/*Exibe o ícone como um bloco inline*/

    background-image: url("../img/Menu.svg");/*Define a imagem de fundo*/

    background-repeat: no-repeat;/*Impede que a imagem de fundo seja repetida*/

    background-position: center;/*centraliza a imagem
     }

.cabeçalho{
    background-color: var(--branco);/*Define a cor de fundo do cabeçalho*/

    display:flex;

justify-content: space-between;

align-items: center;

position:relative
}
.container {

    display:flex; /*Define o layout do contêiner como flexbox*/

    align-items: center;
}
.container_imagem{
    padding: 1em/*Adiciona um espaçamento ao redor da imagem
}